<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default=""/>
    <!-- You can change control program  -->

    <!-- Launch Navigation -->
    <include file="$(find burger_navigation)/launch/your_burger_navigation_sample.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <!-- my program node -->
    <node pkg="burger_war" type="myRobot.py" name="MyRobot" output="screen"> 
        <param name="robot_name" value="$(arg robot_name)" />
    </node>

    <!-- END my program node -->

    <!-- End of your space  -->
</launch>

